# Définir le comportement par défaut,
# au cas où core.autocrlf ne serait pas défini.
* text=auto

# Déclarez explicitement les fichiers texte que vous souhaitez
# toujours normaliser et convertir
# aux fins de ligne natives lors de l'extraction.
*.c text
*.h text
*.cpp text
*.hpp text

# Déclarer les fichiers qui auront toujours
# des fins de ligne CRLF lors de l'extraction.
*.sln text eol=crlf

# Indiquez tous les fichiers qui sont véritablement binaires
# et qui ne doivent pas être modifiés.
*.png binary
*.jpg binary
